body{

background:#030712;

color:white;

font-family:Orbitron;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;

}

.grid{

position:absolute;

width:100%;

height:100%;

background:

linear-gradient(rgba(56,189,248,.08) 1px, transparent 1px),

linear-gradient(90deg, rgba(56,189,248,.08) 1px, transparent 1px);

background-size:40px 40px;

opacity:.3;

}



.container{

width:1000px;

position:relative;

z-index:2;

}



.title{

text-align:center;

letter-spacing:3px;

margin-bottom:25px;

}

.title p{

color:#64748b;

font-size:12px;

margin-top:5px;

}



.dashboard{

display:flex;

background:rgba(2,6,23,.7);

border:1px solid rgba(56,189,248,.15);

padding:30px;

border-radius:15px;

box-shadow:0 0 40px rgba(56,189,248,.15);

}



.left{

width:50%;

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

padding-right:25px;

border-right:1px solid rgba(56,189,248,.1);

}



.widget{

position:relative;

}



input{

width:100%;

padding:14px;

background:#020617;

border:1px solid rgba(56,189,248,.2);

border-radius:8px;

color:white;

outline:none;

transition:.3s;

}



input:focus{

box-shadow:0 0 15px #38bdf8;

border:1px solid #38bdf8;

}



label{

position:absolute;

top:-8px;

left:10px;

background:#030712;

padding:2px 6px;

font-size:10px;

color:#38bdf8;

letter-spacing:2px;

}



button{

grid-column:span 2;

padding:15px;

border:none;

background:linear-gradient(
90deg,
#38bdf8,
#6366f1,
#38bdf8
);

background-size:200%;

border-radius:10px;

color:white;

cursor:pointer;

letter-spacing:2px;

transition:.4s;

}



button:hover{

background-position:right;

box-shadow:0 0 20px #38bdf8;

}



.right{

width:50%;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

}



.speedometer{

margin-bottom:25px;

}



.ring{

width:220px;

height:220px;

border-radius:50%;

background:conic-gradient(

#38bdf8 0deg,

#38bdf8 0deg,

#020617 0deg

);

display:flex;

justify-content:center;

align-items:center;

transition:1s;

box-shadow:

0 0 30px #38bdf8 inset;

}



.inner{

width:170px;

height:170px;

background:#030712;

border-radius:50%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}



#score{

font-size:45px;

color:#38bdf8;

}



.barBox{

width:80%;

}



.bar{

height:14px;

background:#020617;

border-radius:10px;

overflow:hidden;

border:1px solid rgba(56,189,248,.2);

}



.flow{

height:100%;

width:0%;

background:

linear-gradient(
90deg,
transparent,
#38bdf8,
transparent
);

animation:flow 2s linear infinite;

}



@keyframes flow{

0%{

background-position:0;

}

100%{

background-position:200px;

}

}



#feedback{

margin-top:20px;

color:#94a3b8;

text-align:center;

width:70%;

font-size:13px;

}